X_CLIENT_ID=
X_CLIENT_SECRET=
X_BEARER_TOKEN=
X_USER_ACCESS_TOKEN=
X_USER_REFRESH_TOKEN=
X_REDIRECT_URI=https://x-scout-manager-prod.web.app/auth/x/callback
X_LOCAL_REDIRECT_URI=http://127.0.0.1:8765/callback
X_SCOPES=tweet.read users.read dm.read dm.write offline.access
X_TOKEN_AUTH_METHOD=basic
